.experience-container {
  padding: 20px;
  text-align: justify;
  font-family: Arial, sans-serif;
  background-color: black;
  color: #ffffff;
}

.experience-container h1 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.timeline-e {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-e::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: calc(100% - 20px); /* Adjust height to stop before the last dot */
  background-color: #ffffff;
  z-index: 0;
}

.timeline-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}

.timeline-item.right {
  justify-content: flex-end;
}

.timeline-item:last-child {
  margin-bottom: 0; /* Remove margin for the last item */
}

.timeline-item .timeline-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: #1e90ff;
  border-radius: 50%;
  z-index: 1;
}

.timeline-content-experience {
  width: 45%;
}

.timeline-item.left .timeline-content-experience {
  text-align: right;
}

.timeline-item.right .timeline-content-experience {
  text-align: left;
}

.timeline-content-experience h2 {
  margin: 0;
  font-size: 16px;
  color: #1e90ff;
}

.timeline-content-experience h3 {
  margin: 5px 0;
  font-size: 18px;
  color: #ffffff;
}

.timeline-content-experience h4 {
  margin: 5px 0;
  font-size: 16px;
  color: #ffffff;
}

.timeline-content-experience p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.6;
  color: #d3d3d3;
}
